.conteiner{
    display: flex;

    max-width: 800px;
    min-height: 400px;
    margin: 80px auto;

    border: 1px solid #000;
    border-radius: 10px;



    .cat_colum{
        min-width: 200px;
        border-right: 1px solid #000;
        


        .zag{
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            border-bottom: 1px solid #000;

            p{  
                margin: 0;
                padding: 20px 30px;
            }
        }
    }

    .task_column{
        width: 100%;

        .task_zag{
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            border-bottom: 1px solid #000;

            p{  
                margin: 0;
                padding: 20px 30px;
            }
        }
    }
}

ul{
    list-style: none;
    margin: 20px 0;
}

.tasklist {
    margin: 20px 30px;

    
    label{
        display: flex;
        align-items: center;
        gap: 10px;
        box-sizing: border-box;

        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 5px 10px 5px 25px;

        

        p{
            margin: 0;

        }

       
    }   
}